/* ----- Montserrat font ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #363CAA;
    --account-button-bg-color: #5760BE;
    --slider-button-active-bg-color: #FF5063;
    --search-button-bg-color: #5F3BFD;
    --body-text-color: #ffffff;
    --sidebar-border-color: #5B65BF;
    --seacrh-input-text: #000000;
    --tab-border-color: #707ED0;
    --slider-arrow-bg: #0000002d;

    /* ----- border ----- */
    --button-border-radius: 40px;

    /* ----- font-size ----- */
    --xsmal-fs: 10px;
    --smal-fs: 13px;
    --medium-fs: 18px;
    --large-fs: 22px;
    --xlarge-fs: 45px;

    /* ----- transition ----- */
    --button-transition--500: 500ms all ease-in;
    --button-transition--800: 800ms all cubic-bezier(.49, .49, .53, .55);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--body-text-color);
    background: var(--header-bg-color);
    overflow-x: hidden;
}

/* ============ Global ============ */
.f_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* ============ Header ============ */
header {
    background: var(--header-bg-color);
}

.header {
    position: relative;
    max-width: 1095px;
    margin: 35px auto 0;
}

.header__logo {
    position: relative;
    z-index: 9;
}

.header__logo img {
    width: 150px;
    height: 40px;
    object-fit: contain;
}

.header__contact__detail {
    margin-left: 10px;
    height: 100%;
}

.header__contact__detail span:first-child {
    font-size: var(--xsmal-fs);
    margin-bottom: 5px;
    font-weight: lighter;
}

.header__contact__detail span:last-child {
    font-size: var(--large-fs);
}

.header__account__btn {
    padding: 16px 22px;
    background-color: var(--account-button-bg-color);
    border-radius: var(--button-border-radius);
    margin-right: 26px;
}

.header__account__detail {
    margin-left: 13px;
}

.header__account__detail p {
    font-size: var(--smal-fs);
    margin-bottom: 3px;
}

.header__account__detail span {
    font-size: var(--xsmal-fs);
    text-align: left;
    display: block;
    color: var(--slider-button-active-bg-color);
}

.header__acount--shop {
    position: relative;
}

.header__acount--shop span {
    position: absolute;
    background-color: var(--slider-button-active-bg-color);
    width: 18px;
    height: 18px;
    border-radius: 100%;
    font-size: var(--xsmal-fs);
    right: -20%;
    top: -20%;
}

.header__menu__btn {
    position: relative;
    width: 30px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.header__menu__btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--body-text-color);
    transition: var(--button-transition--500);
}

.header__menu__btn span::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: var(--body-text-color);
    top: 0;
    left: 0;
    transition: var(--button-transition--500);
}

.header__menu__btn span::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: var(--body-text-color);
    bottom: 0;
    left: 0;
    transition: var(--button-transition--500);
}

.header__menu__btn.active {
    height: 30px;
}

.header__menu__btn.active span {
    background-color: var(--header-bg-color);
}

.header__menu__btn.active span::before {
    transform: rotate(45deg);
    top: 45%;
}

.header__menu__btn.active span::after {
    transform: rotate(-45deg);
    top: 45%;
}

/* ============ Sidebar ============ */
.sidebar {
    position: absolute;
    background-color: var(--header-bg-color);
    top: -35px;
    left: -100%;
    width: 35%;
    transition: var(--button-transition--800);
    z-index: 7;
}

.sidebar.active {
    left: 0;
}

.sidebar__content {
    border-top: 1px solid var(--sidebar-border-color);
    margin: 120px 0 60px;
}

.sidebar__content ul {
    margin-right: 30px;
}

.item {
    padding: 18px 0;
    border-bottom: 1px solid var(--sidebar-border-color);
    cursor: pointer;
}

.item a {
    color: var(--body-text-color);
    font-size: var(--large-fs);
    font-weight: lighter;
    transition: var(--button-transition--500);

}

.item:hover a {
    color: var(--slider-button-active-bg-color);
    transition: var(--button-transition--500);
}

.sidebar__content__search {
    margin: 32px 30px 0 0;
    padding: 13px 18px;
    background-color: var(--account-button-bg-color);
    border-radius: var(--button-border-radius);
}

.sidebar__content__search input::placeholder {
    color: var(--body-text-color);
    font-weight: lighter;
}

.sidebar__content__search input {
    color: var(--body-text-color);
    padding-left: 18px;
    width: 100%;
}

.sidebar__contact {
    margin-top: 30px;
}

.sidebar__contact--account button {
    text-align: left;
    font-size: var(--large-fs);
    margin-bottom: 3px;
}

.sidebar__contact--account .login-btn {
    color: var(--slider-button-active-bg-color);
}

.sidebar__contact--account .login-btn span {
    color: var(--body-text-color);
    margin: 0 10px;
}

.sidebar__contact--social {
    margin: 30px 0;
}

.sidebar__contact--social ul {
    display: flex;
}

.sidebar__contact--social ul li {
    margin-right: 30px;
}

.sidebar__contact--social ul li img {
    width: 18px;
}


.sidebar__contact--social span {
    display: flex;
    margin-top: 30px;
    align-items: center;
    font-size: 27px;
}

.sidebar__contact--social span img {
    margin-right: 12px;
}

/* slider  */
.header__slider {
    max-width: 1095px;
    margin: 0 auto;
    position: relative;
}

.slider__box {
    height: 100vh;
}

.slider__box__text {
    width: 60%;
    position: relative;
    z-index: 9;
    height: 100%;
    padding: 80px 0;
}

.slider__box img {
    position: absolute;
    top: -2%;
    right: -2%;
    width: 560px;
    height: max-content;
    object-fit: contain;
}

.slider__box__text p {
    font-size: var(--xlarge-fs);
    font-weight: 300;
    width: 70%;
    margin-bottom: 60px;
}

.slider__box__text p strong {
    font-weight: 500;
}

.slider__tab__container {
    width: 95%;
}

.slider__tab__btn {
    border: 1px solid var(--tab-border-color);
    margin-right: 10px;
    padding: 15px;
    border-radius: var(--button-border-radius);
}

.slider__tab__btn.active {
    background-color: var(--slider-button-active-bg-color);
    border-color: transparent;
}

.slider__tab__search {
    background-color: var(--body-text-color);
    height: 50px;
    border-radius: var(--button-border-radius);
    margin: 25px 0;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.slider__tab__search input {
    width: 100%;
    color: var(--seacrh-input-text);
    padding-left: 5%;
}

.slider__tab__search span {
    background-color: var(--search-button-bg-color);
    width: 60px;
    height: 45px;
    border-radius: var(--button-border-radius);
    margin: 4px;
    cursor: pointer;
}

.slider__tab__search span img {
    width: 20px;
    height: 20px;
    position: static;
}

#get-phone span strong {
    font-weight: bold;
}

#get-phone span span {
    color: var(--slider-button-active-bg-color);
}

.phone h2 {
    margin: 50px 0;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    font-size: var(--medium-fs) !important;
    color: var(--body-text-color);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -60px) !important;
    width: 50px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    background: var(--slider-arrow-bg);
    justify-content: center;
    border-radius: 100%;
    z-index: 6 !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -60px) !important;
    right: auto;
    width: 50px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    background: var(--slider-arrow-bg);
    justify-content: center;
    border-radius: 100%;
}